<h1>Student Form</h1>
<%= form_for @student do |p| %>
<label>student first name:</label><br>
 <%= p.text_field :first_name %><br>
   <label>student last name</label><br>
 <%= p.text_field :last_name %><br>
 <%= p.submit %><br>
<% end %>
