<h1>School Class Form</h1>
<%= form_for @school_class do |p| %>
<label>class title:</label><br>
 <%= p.text_field :title %><br>
   <label>class room number</label><br>
 <%= p.text_field :room_number %><br>
 <%= p.submit %><br>
<% end %>
